<script src="/plugins/cms/controller.js"></script>

<div class="workspace" ng-controller="view_script" >


  <header>
    <button ng-click="goto('/admin/cms')"><i class="fa fa-caret-left" aria-hidden="true"></i> List</button>
    &nbsp;
    <div class="branch-title">
      {% ui.script.command %} : {% ui.current_thread.topic %}
    </div>


  </header>

    <div class="toolbar">
      <ul>
        <li>
          <button ng-click="newThread()">New Thread</button>
        </li>
      </ul>
      <ul class="right">
        <li>
          <button class="ng-class:{hangry: ui.dirty};" ng-click="save()">Save</button>
        </li>
        <li>
          <button ng-click="logScript()">Debug</button>
        </li>
        <li>
          <button ng-click="ui.showLogic=!ui.showLogic">
            <span ng-if="ui.showLogic">Hide Logic</span>
            <span ng-if="!ui.showLogic">Show Logic</span>
          </button>
        </li>
      </ul>
    </div>

  <section>
    <div class="dialog_navigator pane">
      <section class="threads">
        <!-- <h2>{% ui.script.command %}</h2> -->
        <h2>Threads</h2>
        <ul ng-if="ui.script">
          <li ng-repeat="thread in ui.script.threads" ng-if="thread.topic=='default'" ng-click="selectThread(thread.topic);" class="ng-class:{selected: (thread.topic==ui.current_thread.topic)};">
            <div class="ellipsis_menu" ng-click="swallow($event)">
              <ul>
                <li ng-click="copyThread(thread)">Copy</li>
                <li ng-click="cloneThread(thread)">Duplicate</li>
              </ul>
            </div>
            {% thread.topic %}
          </li>
          <li ng-repeat="thread in ui.script.threads | orderBy: 'thread.topic'"  ng-click="selectThread(thread.topic);" ng-if="thread.topic!='default'" class="ng-class:{selected: (thread.topic==ui.current_thread.topic)};">
            {% thread.topic %}
            <div class="ellipsis_menu" ng-click="swallow($event)">
              <ul>
                <li ng-click="renameThread(thread)">Rename</li>
                <li ng-click="copyThread(thread)">Copy</li>
                <li ng-click="cloneThread(thread)">Duplicate</li>
                <li ng-click="deleteThread($index)">Delete</li>
              </ul>
            </div>
          </li>
        </ul>
      </section>


      <!-- <section ng-controller="view_scripts">

        <h2>Recent Scripts</h2>
        <form ng-submit="search()">
          <input type="search" ng-model="ui.search" placeholder="Search Dialog Library" />
        </form>

        <ul>
          <li ng-repeat="script in ui.scripts" class="ng-class: {current: script._id == ui.script._id};">
            <a href="/admin/cms/{% script._id %}">{% script.command %}</a>
          </li>
        </ul>


      </section> -->




    </div>
    <div class="dialog_view pane">
      <div class="message_list">
        <header ng-if="ui.showLogic">
          <div ng-if="ui.current_thread.topic=='default'">
            <!-- <p>This is the entry point for the {% ui.script.command %} script.</p> -->
                <ul class="trigger_list" ng-if="ui.triggers.length">
                  <li>Triggers:</li>
                  <li ng-repeat="trigger in ui.triggers">
                  <span class="test">{% describeTest(trigger) %} <span class="right utterance" ng-if="!isOneSided(trigger.type)">{% trigger.pattern %}</span></span>
                  </li>
                </ul>

                <div ng-if="ui.backlinks.length" class="message_option">
                <label>Transition from:</label>
                <span class="branch-title"  ng-repeat="link in ui.backlinks" ng-click="followOption(link, $event)">{% link.script ? link.script + ':' + link.thread : link.thread %}</span>
                </div>
            <p ng-if="!ui.triggers.length && !ui.backlinks.length">
              <span class="warning"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> No known entry point</span>
            </p>

            <div class="message_option next">
            <span class="action ">
              <i class="fa fa-play-circle" aria-hidden="true"></i> Start
            </span>
          </div>
          </div>
          <div ng-if="ui.current_thread.topic!='default'">
            <!-- <p>This a thread currently in {% ui.script.command %} script.</p> -->

            <div ng-if="ui.backlinks.length" class="message_option">
              <label>Transition from:</label>
              <span class="branch-title"  ng-repeat="link in ui.backlinks" ng-click="followOption(link, $event)">{% link.script ? link.script + ':' + link.thread : link.thread %}</span>
            </div>

            <p ng-if="!ui.backlinks.length">
              <span class="warning"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> No known entry point</span>
            </p>
            <div class="message_option next">
            <span class="action ">
              <i class="fa fa-play-circle" aria-hidden="true"></i> Start
            </span>
          </div>
          </div>
        </header>

        <div
          dnd-list="ui.current_thread.messages"
          dnd-allowed-types="['message']"
        >

          <div ng-repeat="message in ui.current_thread.messages" class="line" ng-click="editMessage(message)"
            dnd-draggable="message"
            dnd-moved="ui.current_thread.messages.splice($index, 1); markDirty();"
            dnd-effect-allowed="move"
            dnd-type="'message'"

          >



            <div class="message fromBot">
              <!-- this is the bubble with text or other content in it -->
              <div ng-if="message.text" class="text" ng-bind-html="render(message)"></div>
              <div ng-if="!ui.showLogic && message.action" class="collapsed_logic">
                <i class="fa fa-code" aria-hidden="true"></i> <span ng-if="message.condition">conditional </span> action
              </div>
              <div ng-if="ui.showLogic && message.action" class="message_action">
                <div ng-if="message.condition" class="condition">
                  <span class="test">
                    <span class="left utterance">{% message.condition.left | truncateString:35:true %}</span>
                    {% describeTest(message.condition) %}
                    <span class="right utterance" ng-if="!isOneSided(message.condition.type)">{% message.condition.right | truncateString:35:true %}</span>
                  </span>
                </div>
                <div class="ng-class:{with_condition: message.condition}; message_option {% generateActionClass(message.action) %}" ng-controller="messageActionController" ng-init="init(message)">
                  <span ng-switch="message.action">
                    <span ng-switch-when="next" class="action"><i class="fa fa-play-circle" aria-hidden="true"></i> Continue</span>
                    <span ng-switch-when="stop" class="action"><i class="fa fa-hand-paper-o" aria-hidden="true"></i> Failed</span>
                    <span ng-switch-when="timeout" class="action"><i class="fa fa-clock-o" aria-hidden="true"></i> Timed Out</span>
                    <span ng-switch-when="repeat" class="action"><i class="fa fa-repeat" aria-hidden="true"></i> Repeat</span>
                    <span ng-switch-when="wait" class="action"><i class="fa fa-commenting" aria-hidden="true"></i> Wait for more</span>
                    <span ng-switch-when="complete" class="action"><i class="fa fa-check-square" aria-hidden="true"></i> Conversation Complete</span>
                    <span ng-switch-when="execute_script" class="action"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Go to <span class="branch-title" ng-click="followOption(message,$event)">{% branch.execute.script | truncateString:35:true %}:{% branch.execute.thread | truncateString:35:true %}</span></span>
                    <!-- <span ng-switch-default class="action"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Go to <span class="branch-title" ng-click="followOption(option||line,$event)">{% branch.action | truncateString:35:true %}</span></span> -->
                    <span ng-switch-default class="action"><span bind-html-compile="getMessageAction(message)"></span>

                  </span>
                </div>
              </div>
            </div>


            <!-- this should be the last thing in the message after any attachments -->
            <div ng-if="message.capture_input">
              <div ng-repeat="branch in message.branches" ng-if="branch.quick_reply" class="quick_reply">
                {% branch.quick_reply_title || branch.pattern %}
              </div>

              <div class="summary">
                  <div ng-if="message.key" class="message_option capture"><span class="action"><i class="fa fa-commenting" aria-hidden="true"></i> Collect answer into <span class="variable">{% message.key %}</span></span></div>
                  <div ng-if="!ui.showLogic && message.branches.length>1" class="collapsed_logic">
                    <i class="fa fa-code" aria-hidden="true"></i> {% message.branches.length %} conditions
                  </div>
                  <div class="paths" ng-if="ui.showLogic && message.branches.length>1">
                    <div ng-if="!branch.default" ng-repeat="branch in message.branches" class="message_option {% generateActionClass(branch.action) %}">
                      <span class="test">
                        {% describeTest(branch) %}
                        <span ng-if="!isOneSided(branch.type) && branch.pattern" class="right utterance">{% branch.pattern | truncateString:35:true %}</span></span>

                      <span ng-switch="branch.action" ng-controller="messageActionController" ng-init="init(branch)">
                        <span ng-switch-when="next" class="action"><i class="fa fa-play-circle" aria-hidden="true"></i> Continue</span>
                        <span ng-switch-when="stop" class="action"><i class="fa fa-hand-paper-o" aria-hidden="true"></i> Failed</span>
                        <span ng-switch-when="timeout" class="action"><i class="fa fa-clock-o" aria-hidden="true"></i> Timed Out</span>
                        <span ng-switch-when="repeat" class="action"><i class="fa fa-repeat" aria-hidden="true"></i> Repeat</span>
                        <span ng-switch-when="wait" class="action"><i class="fa fa-commenting" aria-hidden="true"></i> Wait for more</span>
                        <span ng-switch-when="complete" class="action"><i class="fa fa-check-square" aria-hidden="true"></i> Conversation Complete</span>
                        <span ng-switch-when="execute_script" class="action"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Go to <span class="branch-title" ng-click="followOption(option||line,$event)">{% branch.execute.script | truncateString:35:true %}:{% branch.execute.thread | truncateString:35:true %}</span></span>
                        <!-- <span ng-switch-default class="action"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Go to <span class="branch-title" ng-click="followOption(option||line,$event)">{% branch.action | truncateString:35:true %}</span></span> -->
                        <span ng-switch-default class="action"><span bind-html-compile="getMessageAction(branch)"></span>
                      </span>
                    </div>
                </div>
                <div ng-if="ui.showLogic && message.branches.length > 1 && branch.default" ng-repeat="branch in message.branches" class="message_option {% generateActionClass(branch.action) %} else" >
                  <span ng-switch="branch.action" ng-controller="messageActionController" ng-init="init(branch)">
                    <span ng-switch-when="next" class="action"><i class="fa fa-play-circle" aria-hidden="true"></i> Continue</span>
                    <span ng-switch-when="stop" class="action"><i class="fa fa-hand-paper-o" aria-hidden="true"></i> Failed</span>
                    <span ng-switch-when="timeout" class="action"><i class="fa fa-clock-o" aria-hidden="true"></i> Timed Out</span>
                    <span ng-switch-when="repeat" class="action"><i class="fa fa-repeat" aria-hidden="true"></i> Repeat</span>
                    <span ng-switch-when="wait" class="action"><i class="fa fa-commenting" aria-hidden="true"></i> Wait for more</span>
                    <span ng-switch-when="complete" class="action"><i class="fa fa-check-square" aria-hidden="true"></i> Conversation Complete</span>
                    <span ng-switch-when="execute_script" class="action"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Go to <span class="branch-title" ng-click="followOption(option||line,$event)">{% branch.execute.script | truncateString:35:true %}:{% option.execute.thread | truncateString:35:true %}</span></span>
                    <!-- <span ng-switch-default class="action"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Go to <span class="branch-title" ng-click="followOption(option||line,$event)">{% branch.action | truncateString:35:true %}</span></span> -->
                    <span ng-switch-default class="action"><span bind-html-compile="getMessageAction(branch)"></span>
                  </span>
              </div>
            </div>

            </div>

            <div class="ellipsis_menu" ng-click="swallow($event)">
              <ul>
                <li ng-click="copyMessage(message);">Copy</li>
                <li ng-click="cloneMessage(message);">Duplicate</li>
                <li ng-click="deleteMessage($index);">Delete</li>
              </ul>
            </div>

          </div>

          <div class="dndPlaceholder line">
            <div class="message">
              <div class="text">...</div>
            </div>
          </div>

        </div>
        <div class="addMessageWidget">
          <button ng-click="addMessage(true)">Add Message</button>
          <button ng-click="addAction(true)">Add Action</button>
        </div>
      </div>
      <div class="composer">
        <form method="post" ng-submit="addMessage()">
          <input type="text" ng-model="ui.new_message" placeholder="Compose message here" />
          <button type="submit">Add</button>
        </form>
      </div>
    </div>
    <div class="ng-class: {active: ui.edit_dialog_open}; edit_dialog_overlay" ng-if="ui.edit_dialog_template"> <!--  ng-click="closeDialog($event)" -->
      <div ng-include="ui.edit_dialog_template"></div>
    </div>

  </section>
</div>
