<div ng-controller="gotothread_controller" class="execute_script_widget">

    <div class="current_action" ng-if="ui.current_condition.options.thread">
        <label>Current Action</label>
        <div class="message_option big">
            <span class="action"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Go to <span class="branch-title">{% ui.current_condition.options.thread %}</span></span>
        </div>
        <br />
        <label class="small">Preview</label>
        <div class="message_list">
            <div class="message">
                <div ng-bind-html="summarizeThread(ui.script,ui.current_condition.options.thread)" class="text"></div>
            </div>
        </div>

        <button class="select" ng-click="ui.current_condition.options = {};">Change</button>

    </div>

    <div class="script_browser" ng-if="!ui.current_condition.options.thread">
      <header>
        <p>
          Choose a thread from the list
          to transition to.
        </p>
      </header>
      <div class="script_results">
        <div class="starting_points">
            <ul>
                <li ng-repeat="point in ui.script.threads">
                  <div class="message_list">
                    <div class="message_option small">
                        <span class="action"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Go to
                          <span class="branch-title">{% point.topic %}</span>
                        </span>
                    </div>
                    <div class="message">
                      <div ng-bind-html="summarizeThread(ui.script,point.topic)" class="text"></div>
                    </div>
                    <button class="select" ng-click="ui.current_condition.options.thread=point.topic">Select</button>

                  </div>
                </li>
            </ul>
        </div>
    </div>
  </div>
</div>
