<div class="dialog" ng-controller="edit_condition">
  <header>
    <button ng-click="close()" class="x"><i class="fa fa-times" aria-hidden="true"></i></button>
  </header>
  <section class="pane">

    <p ng-if="ui.current_message.key && !ui.current_condition.default">
    IF <span class="variable">{{user.{% ui.current_message.key %}}}</span>

    <select ng-model="ui.current_condition.type" ng-options="test.type as test.description for test in ui.available_tests"></select>

    <input ng-model="ui.current_condition.pattern">
    </p>

    <p ng-if="ui.current_message.key && ui.current_condition.default">
      IF no other condition matches...
    </p>

    <!-- this is a standalone condition -->
    <div ng-if="!ui.current_message">
      <p ng-if="ui.current_condition.condition.type">
        IF

        <input ng-model="ui.current_condition.condition.left">

        <select ng-model="ui.current_condition.condition.type" ng-options="test.type as test.description for test in ui.available_tests"></select>

        <input ng-model="ui.current_condition.condition.right">

      </p>
      <p ng-if="!ui.current_condition.condition">
        <button ng-click="ui.current_condition.condition.type='string'">Add Condition</button>
      </p>

    </div>

    <p>
      THEN

      <select ng-model="ui.current_condition.action">
        <optgroup label="Script Action">
          <option value="next">Continue</option>
          <option value="repeat">Repeat</option>
          <option value="wait">Wait for more input</option>
          <option value="stop">Failed</option>
          <option value="complete">Conversation Completed</option>

        </optggroup>
        <optgroup ng-if="ui.available_actions" label="Custom Actions">
          <option ng-repeat="action in ui.available_actions" ng-value="action.type">{% action.description %}</option>
        </optgroup>
      </select>
    </p>

    <label ng-if="ui.widget_url" class="tag">Action Details</label>
    <div ng-if="ui.widget_url" ng-include="ui.widget_url" class="widget"></div>

  </section>
</div>
